log_target('syslog')

modules = {
  'policy',
  'hints > iterate',
  'serve_stale < cache',
  'workarounds < iterate',
  'stats',
  'predict'
}

net.ipv4 = true
net.ipv6 = true
net.listen('127.0.0.1', 53, { kind = 'dns' })
net.listen('127.0.0.1', 853, { kind = 'tls' })
net.listen('127.0.0.1', 443)
net.listen('::1', 53,  { kind = 'dns' })
net.listen('::1', 853,  { kind = 'tls' })
net.listen('::1', 443) 

net.listen('192.168.1.1', 53, { kind = 'dns' })
net.listen('192.168.1.1', 853, { kind = 'tls' })
net.listen('192.168.1.1', 443)  
-- net.listen('dda8:a405:8f50::1', 53, { kind = 'dns' })
-- net.listen('dda8:a405:8f50::1', 853, { kind = 'tls' })
-- net.listen('dda8:a405:8f50::1', 443)

cache.open(50 * MB, 'lmdb:///tmp/kresd/cache')

policy.add(policy.all(policy.FORWARD({'127.0.0.53@53000', '::53@53000'})))
policy.add(policy.all(policy.FLAGS('NO_MINIMIZE')))

predict.config({ window = 30, period = 48 })
hints.use_nodata(true)
trust_anchors.remove('.')

modules.load('prefill')
prefill.config({
    ['.'] = {
        url = 'https://www.internic.net/domain/root.zone',
        interval = 86400, -- seconds
        -- ca_file = '/etc/pki/tls/certs/ca-bundle.crt', -- optional
    }
})
