log_target('syslog')

modules = {
  'policy',
  'hints > iterate',
  'serve_stale < cache',
  'workarounds < iterate',
  'stats',
  'predict'
}

net.ipv4 = true
net.ipv6 = true
net.listen('127.0.0.1', 53, { kind = 'dns' })
net.listen('::1', 53,  { kind = 'dns' })
net.listen('192.168.1.1', 53, { kind = 'dns' })
net.tcp_pipeline(800)

policy.add(policy.all(policy.FORWARD({'1.1.1.1', '1.0.0.1'})))
policy.add(policy.all(policy.FLAGS('NO_MINIMIZE')))

predict.config({ window = 5, period = 0 })
hints.use_nodata(true)
trust_anchors.remove('.')
trust_anchors.add_file('/etc/knot-resolver/root.keys', true)

cache.open(200 * MB, 'lmdb:///tmp/kresd/cache')
modules.load('prefill')
prefill.config({
    ['.'] = {
        url = 'https://www.internic.net/domain/root.zone',
        interval = 86400, -- seconds
        -- ca_file = '/etc/pki/tls/certs/ca-bundle.crt', -- optional
    }
})
